html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*{
    padding: 0;
    margin: 0;
    font-family: montserrat,sans-serif;
}

body {
    font-size: 14px;
    background-color: #fff;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    width: 100%;
    height:2000px
}

.curr_page{
    display: block;
    width: 70%;
    padding:12px;
    margin: auto;
    margin-left: 10%;
}

.curr_page>ul>.anchor,a{
    display: inline-block;
    padding-right: 5px;
    list-style-type: none;
    text-align: left;
    font-size: 12px;
    color: #2d2d2d;
}

.anchor:first-child{
    cursor: pointer;
}

.anchor>a>span{
    padding-left: 10px;
}

#productContainer{
    width: 70%;
    display: flex;
    gap: 30px;
    margin: auto;
    margin-top: 30px;
}

.imgContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 50%!important;
    float: left;
    position: relative;
}

.thumbContainer{
    display: block;
    width: 20%!important;
    float: left;
}

.thumbContainer .arrows{
    padding: 5px;
    text-align: center;
}

.fa-solid{
    padding: 5px;
    text-align: center;
    font-size: 20px;
    color: #2d2d2d;
}

.prodThumbnail{
    padding: 10px;
    height: 350px;
    overflow: scroll;
    
}
.prodThumbnail::-webkit-scrollbar{
    display: none;
}

.prodThumbnail>div img{
    width: 100%;
    margin-top: 5px;
}

#fullImage{
    width: 400px;
    
    /* border:2px solid black; */
}

#infoContainer{
    display: block;
    width: 50%!important;
    /* border:2px solid black; */
    text-align: left;
    
}
#names{
    
    color: #737373;
    float: left;
    text-align: left;
    /* border:2px solid black; */
}

.pName{
    font-weight: 500;
    margin-top: 10px; 
    width: 100%;
}
.rat{
    border: 1px solid #737373;
    width: fit-content;
    margin-top: 20px;
    padding-left: 5px;
}
#prices{
    display: inline-flex;
    margin: auto;
    margin-top: 20px;
    color: #737373;
}

#prices>div{
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.d0>h4{
    font-size: 25px;
    font-weight: 700;
    color: black;
}
.d0 h3:last-child{
    font-size: 20px;
    font-weight: 550;
}

.tribeMsgWrpr{
    margin-top: .5rem;
    text-align: center;
    vertical-align: middle;
    padding: 12px 0%;
    border: 5px solid #e6e7e9;
    border-left: 0px;
    border-right: 0px;
}
.c{
    cursor: pointer;
}

.sizeSelect{
    display: flex;
    gap:10px;
    font-size: 14px;
    color: #737373;
    align-content:center;
    margin-top: 8px;
}
.sizeSelect div{
    border-radius: 12px;
    border:3px solid #b4b2b2;
    padding:12px;
    cursor: pointer;
}
#btns{
    display: flex;
    margin-top: 8px;
    gap: 30px;
}
.btn1 ,.btn2{
    line-height: 2.5;
    background-color: #b4c30c;
    color: #05072e;
    padding: 0 30px;
    border-radius: 8px;
    border:none;
    cursor: pointer;
    font-size: 16px;
}

#lastdiv{
    width: 75%;
    margin:auto;

}
.containerEnd{
    display: flex;
    gap: 30px;
    overflow: scroll;
}
.containerEnd::-webkit-scrollbar{
    display: none;
}
.containerEnd>div{
    width: 100%;
}
.containerEnd > div > img{
    width: 100%;
}

@media all and (max-width:768px) {
    #productContainer{
        display: block;
        width: 90%;
    }
    #infoContainer{
        width: 100%;
    }
    .imgContainer{
        width: 100%;
    }
}