body {
    font-family: "montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;

}

.truckmove {
    width: 100px;
    height: 100px;

    position: relative;
    animation: mymove 9s;
}

@keyframes mymove {
    from {
        left: 0px;
    }

    to {
        left: 167%;
    }

}

#cart-head-const {
    border: 1px solid gray;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    justify-content: space-between;

}

#cart-head-const>span {
    margin-right: 10%;
}

#cart-head-const>span>p {
    font-size: 15px;
    color: grey;

}

#cart-head-const img {

    margin-left: 200px;


}

#cart-shown-images {

    height: auto;

    width: 75%;
    margin: 40px auto;
    display: flex;


}

#total-items-cart {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;


    margin-left: 200px;
    margin-top: 40px;
}

#cart-shown-images>div {

    margin: 10px;





}

#cart-shown-left {
    flex: 3;
}

#cart-shown-right {
    flex: 2;

}

.offer-div {

    height: 50px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;

}

#left-offer-color {
    background-color: lightyellow;
}

#offer-div {
    background-color: orange;
    border-radius: 5px;
}


.referal-redeem {


    display: grid;
    align-items: center;
    margin-top: 10px;

    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: none;
    border-left: none;
    border-right: none;

}


.referal-redeem>div {
    display: flex;
    justify-content: space-between;
    align-items: center;


    height: 40px;

}

.referal-redeem>div {

    height: 30px;
    background-color: paleturquoise;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;

}

#price-summary {

    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    border-bottom: none;


}

#price-summary p {
    margin: 8px;
    margin-left: 12px;
    margin-right: 12px;
}

#Total-amount-address {
    display: flex;
    border: 1px solid grey;
    height: 60px;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    border-bottom: none;
    border-right: none;
    border-left: none;

}

#cont-price-summ {
    height: 30px;
    background-color: lightgray;
    margin-bottom: 0px;

}

#saving-div {
    border: 1px solid grey;
    border-radius: 50px;
    background-color: lightgrey;
    height: 30px;

    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#adress-payment-btn {


    background-color: teal;
    color: white;
    height: 50px;
    width: 300px;
    border-radius: 5px;
    border: none;
}

#grey-border {
    border: 1px solid grey;
    height: 40px;
    margin-left: 0px;


}

#cart-push-prdt {

    height: 230px;
    border-radius: 3px;
    padding: 20px;
    border: 1px solid gray;
    margin-bottom: 10px;
    margin-top: 10px;
}

#cart-push-prdt hr {

    margin-top: 30px;
    border: 0.01px solid rgb(220, 228, 236);
}

#cart-push-prdt #cart-img {
    height: 100%;
    width: 30%;
    display: flex;

    justify-content: flex-end;
}

#cart-push-prdt #cart-img img {
    height: 80%;
    margin-top: 15px;
    border-radius: 5px;

}

#cart-descr-img {
    display: flex;

    height: 70%;



}

#cart-descr-img>div {


    flex: 1;
    height: 100%;
    width: 50%;
}

#remove-wishlist {
    display: flex;
    align-items: center;

    height: 30%;
    padding-left: 80px;


}

#remove-wishlist>div {

    flex: 1;
    align-items: center;
}

#size-qty {
    display: flex;



}

#size-qty>div {
    width: 70px;
    height: 30px;
    margin: 30px;


}

#size-qty>div select {
    width: 70px;
    height: 30px;
    border-radius: 4px;


}

#cart-descr p {
    margin: 10px;
}

.green-color {
    color: green;
}

#cart-shown-left {

    height: auto;
}

#payment_secure {
    margin: auto;

    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#payment_secure img {
    margin: auto;

    width: 250px;

}

#cart-append-change {

    height: auto;
}

#cart-dom-clear {

    height: auto;
    margin-bottom: 30px;

}

#border-grey {
    border: 1px solid gray;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visbility 0s opacity 0.5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.overlay-content {
    position: relative;
    background-color: white;
    width: 25%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px 40px;
    box-sizing: border-box;

}

.overlay-content input {

    border: none;
    border-bottom: 3px solid teal;
    outline: none;
    padding: 20px 0;
}

.overlay-content button {
    height: 50px;
    background-color: teal;
    color: white;
    border: none;


}

.coupoun-close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    cursor: pointer;
}



#actual-price {
    font-weight: bold;
    font-size: 20px;
}

#mrp-price {
    margin-left: 10px;
    color: gray;
    text-decoration: line-through;
    font-size: 15px;
    font-weight: normal;

}

.total-adress-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visbility 0s opacity 0.5s;




}

.adress-overlay {



    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;

    margin: auto;

    padding: 1% 2%;
    box-sizing: border-box;
    background-color: white;
    flex-direction: column;




}

.address-active {
    visibility: visible;
    opacity: 1;
}

.adress-overlay input {

    margin: auto;
    width: 90%;
    height: 5%;
    padding: 1%;


}

.Save-address-flex {
    width: 50%;

    margin-left: 4%;


}

.Save-address-flex p {
    color: gray;
    font-size: 15px;
    margin-bottom: 4px;

}

.Save-address-flex button {

    width: 20%;
    padding: 7px 3px;
    border: 1px solid gray;
    border-radius: 50px;
    margin: 2px 2px;
    background-color: white;
    color: gray;

}

.saveaddress-cancel {

    width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;


}


.saveaddress-cancel button:nth-child(1) {

    width: 49%;
    height: 100%;
    border-radius: 5px;
    background-color: teal;
    color: white;
    border: none;

}

.saveaddress-cancel button:nth-child(2) {

    width: 49%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    color: gray;
    border: 1px solid teal;

}

#city-district {
    width: 94%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: auto;


}

#city-district>input {
    height: 40px;
    width: 45%;
    border-radius: 5px;
    border: 1px solid gray;




}

#adress-close {

    height: 30px;
    width: 30px;
    font-size: 30px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;

}