#footer{
    margin-top: 10px;
    width: 100%;
    height:auto;
    background-color:#1f1f1f;
    padding-bottom: 120px;
  }
  #subdivfooter{
    width: 74%;
    height: 100%;
    margin: auto;
  padding-top: 100px;
    /* border: 1px solid white; */

  }
  #footer_logo{
    display: flex;
  }
  #footer_logo>a:link {
    color: #fdd835;
     text-decoration: none;
  }
  #footer_logo>a:visited {
    color: #fdd835;
    text-decoration: none;
  }
  #footer_logo>h1{
    font-size: 35px;
  }
  #footer_logo>p{
    margin-left: 8px;
    color: 
    #fdd835;
    font-size: 16px;
}
#customer_service_section{
    width: 100%;
    height: auto;
    margin-top: 18px;
    /* border: 1px solid red; */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
}
#customer_service_section>div>h4{
    color:  #fdd835;
    letter-spacing: 1px;
    font-size: 13px;
    margin-bottom: 30px;
}
#customer_service_section>div>a{
    color: white;
    font-size: 13px;
   line-height: 20px;
    letter-spacing: 1px;

}
#customer_service_section>div>a:link {
  color: black;
     text-decoration: none;
  }
  #customer_service_section>div>a:visited {
    text-decoration: none;
  }
 #facebook{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
 }
 #facebook>img{
    width: 8%;
    border-radius: 5px;
 }

 #facebook>a{
    color: white;
    margin-left: 10px;
    font-size: 13px;
    letter-spacing: 1px;
}
#facebook>a:link {
  color: black;
     text-decoration: none;
  }
  #facebook>a:visited {
    text-decoration: none;
  }
  #instagram{
    display: flex;
    align-items: center;
 }
 #instagram>img{
    width: 8%;
    border-radius: 5px;
 }

 #instagram>a{
    color: white;
    margin-left: 10px;
    font-size: 13px;
    letter-spacing: 1px;


}
#instagram>a:link {
  color: black;
     text-decoration: none;
  }
  #instagram>a:visited {
    text-decoration: none;
  }
  
  #social_media>a>img{
    margin-top: 15px;
    margin-right: 20px;
    width: 8%;
    border-radius: 5px;
 }
 #subscribe{
    width: 90%;
    height: 40px;
    background-color:  #fdd835;
}
 #subscribe_input{
    background-color: #1f1f1f;
    height: 90%;
    width: 55%;
    border: none;
    padding-left: 10px;
    letter-spacing: 1px;
 }
 #subscribe_btn{
    background-color: transparent;
    border: none;
    padding-left: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
 }
 #return_section{
    width: 100%;
    height: auto;
    margin-top: 50px;
    /* border: 1px solid red; */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    /* border: 1px solid red; */
 }
 #return{
display: flex;
align-items: center;
 }
 #return>img{
    width: 10%;
 }
 #return>a{
    color: white;
    margin-left: 10px;
    padding-top: -50px;
    font-size: 13px;
    letter-spacing: 1px;


}
#return>a:link {
  color: black;
     text-decoration: none;
  }
  #return>a:visited {
    text-decoration: none;
  }
  
  #cash_on_del{
    margin-top: 12px;
    display: flex;
    align-items: center;
     }
 #cash_on_del>img{
    width: 10%;
 }
 #cash_on_del>a{
    color: white;
    margin-left: 10px;
    font-size: 13px;
    letter-spacing: 1px;


}
#cash_on_del>a:link {
  color: black;
     text-decoration: none;
  }
  #cash_on_del>a:visited {
    text-decoration: none;
  }

  #app_download>h4{
    color:  #fdd835;
    letter-spacing: 1px;
    font-size: 13px;
    margin-bottom: -10px;

  }
  #android{
    width: 50%;
    margin-left: -20px;
  }
  #ios{
    margin-left: -30px;
    width: 50%;
  }
#payment>h4{
    color:  #fdd835;
    letter-spacing: 1px;
    font-size: 13px;
    margin-bottom: 30px;
  }
  #payment>img{
    width: 100%;
  }
  #product_section{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 70px;
    /* border: 1px solid red; */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    
  }
  #product_section>div>a:link {
    color: black;
     text-decoration: none;
  }
  a:link {
    color: black;
     text-decoration: none;
  }

  #product_section>div>a:visited {
    text-decoration: none;
    color:white;
  }

  #product_section>div>a>h2{
    letter-spacing: 1px;
    margin-bottom: 30px;
    color: white;
  }
  #product_section>div>a>p{
    color: white;
    font-size: 13px;
   line-height: 20px;
    letter-spacing: 1px;
  }
#fanbook_section>a>h2{
  margin-top: 10px;
  color: #289fb7;
 line-height: 10px;
 font-size: 22px;
  letter-spacing: 1px;
}
.footer_h3{
  color: white;
  margin-top: 40px;
  font-family: montserrat-regular,sans-serif;
  letter-spacing: 1px;
}
.footer_p{
  margin-top: 20px;
  font-family: montserrat-regular,sans-serif;
  color: white;
  line-height: 22px;
  letter-spacing: 1px;
}
span{
  color: #289fb7;
}